GlobalGameJam2014.suo
*.suo
GlobalGameJam2014/GlobalGameJam2014/GGJ2014.csproj.Debug.cachefile
GlobalGameJam2014/GlobalGameJam2014/bin/x86/Debug/Content/SpriteFonts/Arial.xnb
GlobalGameJam2014/GlobalGameJam2014/bin/x86/Debug/Content/Sprites/agent.xnb
GlobalGameJam2014/GlobalGameJam2014/bin/x86/Debug/GlobalGameJam2014.exe
GlobalGameJam2014/GlobalGameJam2014/bin/x86/Debug/GlobalGameJam2014.pdb
GlobalGameJam2014/GlobalGameJam2014/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
GlobalGameJam2014/GlobalGameJam2014/obj/x86/Debug/GGJ2014.csproj.FileListAbsolute.txt
GlobalGameJam2014/GlobalGameJam2014/obj/x86/Debug/GGJ2014.csprojResolveAssemblyReference.cache
GlobalGameJam2014/GlobalGameJam2014/obj/x86/Debug/GlobalGameJam2014.exe
GlobalGameJam2014/GlobalGameJam2014/obj/x86/Debug/GlobalGameJam2014.pdb
GlobalGameJam2014/GlobalGameJam2014/obj/x86/Debug/Microsoft.Xna.Framework.RuntimeProfile.txt
GlobalGameJam2014/GlobalGameJam2014/obj/x86/Debug/cachefile-{65CE21BD-97E6-4F9B-8159-FBBB40B4E5D4}-targetpath.txt
GlobalGameJam2014/GlobalGameJam2014Content/obj/x86/Debug/ContentPipeline.xml
GlobalGameJam2014/GlobalGameJam2014Content/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
GlobalGameJam2014/GlobalGameJam2014Content/obj/x86/Debug/GlobalGameJam2014Content.contentproj.FileListAbsolute.txt
GlobalGameJam2014/GlobalGameJam2014Content/obj/x86/Debug/GlobalGameJam2014Content.contentprojResolveAssemblyReference.cache
GlobalGameJam2014/GlobalGameJam2014/bin/x86/Debug/Content/Levels/level04.xnb
